<nb-card-body class="card-body">
    <ngx-spinner type="square-jelly-box" size="medium"></ngx-spinner>
  </nb-card-body>
  
<form #registroPaciente="ngForm" (ngSubmit)="onSubmit();" class="m-5">


    <hr class="mt-5">
     <h2>Datos Generales</h2>
    <div class="row">
        <div class="col-md-4">

            <!--Nombre-->
            <div class="form-group">
                <label for="nombre"><span>*</span> Nombre(s): </label>
                <input type="text" name="nombre" class="form-control" id="nombre" [(ngModel)]="paciente.nombre" #nombre="ngModel" required>
            </div><!--FIN Nombre-->

            <!--Apellido Paterno-->
            <div class="form-group">
                <label for="apellidoP"><span>*</span> Apellido Paterno:</label>
                <input type="text" name="apellidoP" class="form-control" id="apellidoP" [(ngModel)]="paciente.apellidoP" #apellidoP="ngModel" required>
            </div>
            <!--FIN Apellido Paterno-->

            <!--Apellido Materno-->
            <div class="form-group">
                <label for="apellidoM"><span>*</span>Apellido Materno:</label>
                <input type="text" name="apellidoM" class="form-control" id="apellidoM" [(ngModel)]="paciente.apellidoM" #apellidoM="ngModel" required>
            </div>
            <!--FIN Apellido Materno-->

            <mat-form-field>
                <mat-label>Elija una Fecha</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="paciente.fechaNacimiento"  name="picker2">
                <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                <mat-datepicker #picker ></mat-datepicker> 
            </mat-form-field>


        </div>
        <!--FIN Col-4-->

        <div class="col-md-4">

             <!--Edad-->
              <div class="form-group">
                <label for="edad"><span>*</span> Edad:</label>
                <input type="text" name="edad" class="form-control" id="edad" [(ngModel)]="paciente.edad" #edad="ngModel" required>
            </div>
            <!--FIN Edad-->


             <!--GENERO-->
              <mat-form-field>
                <mat-label>Genero</mat-label>
                <mat-select [(value)]="paciente.genero.id" required>
                  <mat-option *ngFor="let g of generos" [value]="g.id">{{g.etiqueta}}</mat-option>
                </mat-select>
              </mat-form-field>
              <!--FIN GENERO-->

            <!--CURP-->
            <div class="form-group mt-4">
                <label for="curp"><span>*</span>Curp:</label>
                <input type="text" name="curp" class="form-control" id="curp" [(ngModel)]="paciente.curp" #curp="ngModel" required required minlength="18" maxlength="21">
            </div>
            <!--FIN CURP-->

             <!--Estado Civil-->
             <mat-form-field>
                <mat-label>Estado Civil</mat-label>
                <mat-select [(value)]="paciente.estadoCivil.id" required>
                  <mat-option *ngFor="let ec of estadosCiviles" [value]="ec.id">{{ec.etiqueta}}</mat-option>
                </mat-select>
              </mat-form-field>
              <!--FIN Estado Civil-->


        </div><!--FIN Col-4-->

        <div class="col-md-4">

            <!--Teléfono Celular-->
            <div class="form-group">
                <label for="telefonoCelular"><span>*</span>Teléfono Celular:</label>
                <input type="text" name="telefonoCelular" class="form-control" id="telefonoCelular" [(ngModel)]="paciente.telefonoCelular" #curp="ngModel" required required minlength="18" maxlength="21">
            </div>
            <!--FIN Teléfono telefonoCelular-->

             <!--Teléfono-->
             <div class="form-group">
                <label for="telefono"><span>*</span>Teléfono:</label>
                <input type="text" name="telefono" class="form-control" id="telefono" [(ngModel)]="paciente.telefono" #curp="ngModel" required required minlength="18" maxlength="21">
            </div>
            <!--FIN Teléfono-->

             <!--Correo Electrónico-->
             <div class="form-group">
                <label for="correo"><span>*</span>Correo Electrónico:</label>
                <input type="email" name="correo" class="form-control" id="correo" [(ngModel)]="paciente.correo" #correo="ngModel" required>
            </div>
            <!--FIN Correo Electrónico-->

        </div>
        <!--FIN Col-4-->
    </div>
    <!--FIN Row-->
<hr class="mt-5">
<h2>Dirección</h2>
<br>
<div class="row">
    <div class="col-md-4">

        <!--Entidad Federativa-->
        <mat-form-field>
          <mat-label>Entidad Federativa</mat-label>
            <mat-select [(value)]="paciente.direccion.entidadFederativa.id" required>
                <mat-option *ngFor="let entidadF of entidadesFederativas" [value]="entidadF.id">{{entidadF.etiqueta}}</mat-option>
            </mat-select>
        </mat-form-field>
        <!--FIN Entidad Federativa-->

         <!--Alcaldia/Municipio-->
         <mat-form-field>
            <mat-label>Alcaldía/Municipio</mat-label>
              <mat-select [(value)]="paciente.direccion.alcaldiaMunicipio.id" required>
                  <mat-option *ngFor="let al of alcaldias" [value]="al.id">{{al.etiqueta}}</mat-option>
              </mat-select>
          </mat-form-field>
          <!--FIN Alcaldia/Municipio-->

        <!--Colonia-->
        <div class="form-group">
            <label for="colonia"><span>*</span>Colonia: </label>
            <input type="text" name="colonia" class="form-control" id="colonia" [(ngModel)]="direccion.colonia" #colonia="ngModel" required>
        </div>
        <!--FIN Colonia-->

    </div><!--FIN Col-4-->

    <div class="col-md-4">

        <!--Codigo Postal-->
        <div class="form-group">
            <label for="codigoPostal"><span>*</span>Código Postal: </label>
            <input type="text" name="codigoPostal" class="form-control" id="codigoPostal" [(ngModel)]="direccion.codigoPostal" #codigoPostal="ngModel" required>
        </div>
        <!--FIN Codigo Postal-->

        <!--Calle-->
        <div class="form-group">
            <label for="calle"><span>*</span>Calle:</label>
            <input type="text" name="calle" class="form-control" id="calle" [(ngModel)]="direccion.calle" #calle="ngModel" required>
        </div>
        <!--FIN Calle-->

    </div>
    <!--FIN Col-4-->

    <div class="col-md-4">

        <!--Numero Exterior-->
        <div class="form-group">
            <label for="numeroExterior"><span>*</span># Exterior:</label>
            <input type="text" name="numeroExterior" class="form-control" id="numeroExterior" [(ngModel)]="direccion.numeroExterior" #numeroExterior="ngModel" required required minlength="18" maxlength="21">
        </div>
        <!--FIN Numero Exterior-->

        <!--Numero Interior-->
        <div class="form-group">
            <label for="numeroInterior"><span>*</span># Interior:</label>
            <input type="text" name="numeroInterior" class="form-control" id="numeroInterior" [(ngModel)]="direccion.numeroInterior" #numeroInterior="ngModel" required>
        </div>
        <!--FIN Numero Interior-->

    </div>
    <!--FIN Col-4-->
</div>
<!--FIN Row-->

<hr class="mt-5">
<h2>Fotografía</h2>
<div class="row">

    
    <div *ngIf="base64" class="col-md-3">
    <!-- <img [src]="'data:image/jpg;base64,'+base64" style="height:150%;width:100%"/> -->
       <img [src]="base64" style="height:100%;width:100%"/>
    </div>   <!--FIN Col-3-->

    <div *ngIf="!base64" class="col-md-3">
        <!-- <img [src]="'data:image/jpg;base64,'+base64" style="height:150%;width:100%"/> -->
           <img [src]="'http://innovacion.uanl.mx/wp-content/uploads/2017/06/sin-perfil.jpg'" style="height:100%;width:100%"/>
        </div>   <!--FIN Col-3-->

    <div class="col-md-8 col-md-offset-1">
            <!-- <p-fileUpload name="imagen" [(ngModel)]="imagen"  url="http://localhost/recibirFile/recibirFile.php"
            accept="image/*" maxFileSize="1000000" chooseLabel="Elegir" uploadLabel="Subir"  showCancelButton="false"></p-fileUpload> -->
         <p-fileUpload chooseLabel="Elegir" name="myfile[]" customUpload="true" multiple="multiple" (uploadHandler)="onUpload($event)" accept="image/*" [auto]="true"></p-fileUpload>
    </div>   <!--FIN Col-9-->

</div>   <!--FIN ROW-->
    <br><br><br><br>
<div class="row m-5">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <button mat-raised-button color="primary" *ngIf="edicion">Actualizar</button>
        <button mat-raised-button color="primary" *ngIf="!edicion">Guardar</button>
    </div>
    <div class="col-md-4">
        <p-toast [showTransformOptions]="'translateX(-100%)'"></p-toast>
    </div>
</div>

    <!--[disable]="registroPaciente.invalid"-->
  </form>